
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(0, 0, 0);
    font-family: 'Source Sans Pro',sans-serif;
}

header{
    font-size: 1.5rem;
    color:#ad1b47;
    font-size: 30px;
    text-shadow: 0px 0px 9px #000000;
}


header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h2{
    text-transform: capitalize;
    font-size: 0.8rem;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Source Sans Pro',sans-serif;
}
form input, form button,select{
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    border:none;
    background:white;
    text-transform: capitalize;
}

form button{
    margin: 10px;
    background: #ad1b47;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    color:white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

form button:active{
    color:#ad1b47;
    background :white;
    box-shadow: none;
}
form input{
    outline: none;
    padding: 1rem;
    width: 30%;
    min-width: 15rem;
    border: none;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.output{

    outline: none;
    padding: 1rem;
    width: 30%;
    position: absolute;
    top: 40%;
    left: 35%;
    min-width: 15rem;
    border: whitesmoke;
    border-style: solid;
    border-width: 2;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



select{
    display: flex;
    outline: none;
    margin: 10px;
    cursor: pointer;
    width: 9.5rem;
    min-width: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30rem;
    width: 50%;
    line-height: 50px;
    list-style: none;
    
}
.todo{
    margin:0.7rem ;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    color: white;
    justify-content:space-between;
    align-items: center;
    padding-left: 10px;
}

.todo li{
    flex:1;
    
}
#priority{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
}
#priority-lable{
    display: flex;
    text-transform: capitalize;
    width: 75px;
    margin: 10px;
    line-height: 2rem;
    background-color: rgb(0, 0, 0);
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
}


.completed-btn , .delete-btn{

    color: white;
    border:none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}


.completed-btn{
    background-color: rgb(55, 235, 55);
    margin: 5px;
}
.completed-btn:active{
    background: white;
    color: rgb(55, 235, 55);
}

.delete-btn{
    background-color: rgb(231, 20, 20);
    margin: 5px;
}

.delete-btn:active{
    background: white;
    color:rgb(231, 20, 20);
}


.newtodo{
    margin: 5px;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;

}

p{
    text-align: center;
    color: rgb(183, 198, 211);
}
