<html>
    <head>
    <title>Sorching Doughnut</title>
    </head>
        <body>
                   
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
            <header>
                <h1> Sorching Doughnut</h1>
            </header> 
            <form action="{{ url_for('task')}}"method="POST">
                <input name = "input" type="text" placeholder="Enter space seperated data here : " class="todo-input">
                <select name="task" id="task">
                    <option value="select_task" selected>select-task</option>
                    <option value="1">Bubble Sort</option>
                    <option value="2">Selection Sort</option>
                    <option value="3">Insertion Sort</option>
                    <option value="4">Shell Sort</option>
                </select>
                <button class="todo-button" type="submit">Sort</button>

        </form>

    </body>
 </html>
